VITE_KAKAO_JAVASCRIPT_KEY=your_kakao_javascript_key_here
HIGHWAY_API_KEY=your_highway_public_data_api_key_here
KAKAO_REST_API_KEY=your_kakao_rest_api_key_here
NAVER_CLIENT_ID=your_naver_client_id_here
NAVER_CLIENT_SECRET=your_naver_client_secret_here
NCP_MAPS_KEY_ID=your_naver_cloud_maps_key_id_here
NCP_MAPS_KEY=your_naver_cloud_maps_key_here
